.sidebar-left{
	width: 214px;
	padding-bottom: 70px;
	float: left;
}

.sidebar-left h5{
	color: #ae691c; 
}

.sidebar-left .first{
	margin-top: 34px;
}

.sidebar-left .left-input{
	margin-top: -75px;
}

.sidebar-left input{
	width: 124px;
	height: 24px;
}

.sidebar-left .left-input .search{
	border: 1px solid #000;
	font-size: 14px;
	background-color: #f0f0f0;
	padding: 3px 10px 4px 10px;
}

.sidebar-left .second{
	margin-top: 32px;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

hr{
	border:1px dashed #f0f0f0;
}

.sidebar-left .text2{
	margin-top: 10px;
}

.sidebar-right{
	height: 626px;
	width: 742px;
	float: right;
}

.sidebar-left .fourth{
	margin-top: 52px;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
	color: #ae691c;
}

.sidebar-right .third{
	margin-top: 34px;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

.sidebar-right img{
	width: 162px;
	height: 162px;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 38px;
}

.sidebar-right .sidebar-bottom{
	margin-top: 50px;
	margin-bottom: 28px;
}

.sidebar-right .fifth{
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

.sidebar-right .sixth a{
	color: #666666;
	float: left;
	margin-right: 30px;
	margin-left: 15px;
}

.sixth a:hover{
	color: #a55301;
}

.sixth{
	height: 52px;
	font-size: 14px;
}

.sidebar-right .feed-logo{
	color: #ff736b;
}

.sidebar-right .name{
	margin-left: 44px;
}

.sidebar-right .feed1{
	width: 132px;
}

.sidebar-right .code{
	margin-left: 28px;
}

.sidebar-right .neirong{
	margin-left: 44px;
}

.sidebar-right .feed3{
	width: 570px;
	height: 50px;
}

.sidebar-right .submit{
	margin-left: 92px;
	border: 1px solid #000;
	padding: 0px 8px 1px 8px;
	margin-top: 5px;
	background-color: #f0f0f0;
}